.placeholderColor::-webkit-input-placeholder{
	color: red;
	font-size: 13px;
}



.fadeInAnimation{
    animation: fadeInTabAnimation ease 600ms;
}
@keyframes fadeInTabAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}





/* slider css */

/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
} */
.slide-container{
margin: 0;
padding: 0;
box-sizing: border-box;
min-height: vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #EFEFEF;
font-family: 'Poppins', sans-serif;
  max-width: 800px;
  width: 100%;
  
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #0a2265;
  border-radius: 25px 25px 25px 25px;
}
/* .overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
} */
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border-color: black;
  font-size: 16px;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  background-color: #ffffff;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #000000;
  color: white;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

.custom-bg {
  background-color: #090b0c !important;
}

.custom-bg:hover {
  background-color: #114156 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 0.5s;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #d5dcde;
}

.navbar-nav {
  display: flex;
  column-gap: 5rem;
}

.nav-item {
  position: relative;
}

.nav-item {
  font-size: 1rem;
  font-weight: 500;
  color: #090b0c;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #090b0c;
}
.nav-item a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #090b0c;
  position: absolute;
  bottom: 3px;
  left: 0;
  transition: 0.4s;
}

.nav-item a:hover::after,
.nav-item .home-active::after {
  width: 90%;
}

.box:hover {
  transform: scale(1.1);
  transition: 1s;
}

/*swipper*/
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*availability-form*/
.availability-form {
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

.h-line {
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}

.pop:hover {
  border-top-color: #0dc4e0 !important;
  transform: scale(1.03);
  transition: all 0.3s;
}

.box:hover {
  border-top-color: #011518 !important;
  transform: scale(1.1);
  transition: all 0.3s;
}

.name:hover{
  color: #003566;
  font-weight: bold;
}

.tag:hover{
  color: #0d0de0;
}



.boxShadow1{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}






.custom-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
  z-index: 1; /* Make sure it's above the slider */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  text-align: center;
  color: #fff; /* Text color */
}

.animated-text {
  font-size: 45px; /* Adjust the font size */
  animation: fadeIn 1.5s ease; /* Example animation, create a keyframes animation as needed */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Erasing animation */
@keyframes erasing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.typing-animation::before {
  content: "";
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(30, end) forwards, erasing 2s steps(30, end) 2s forwards;
}


.overlay-button {
  background-color: #09c228; /* Button background color */
  color: #fff; /* Button text color */
  padding: 15px 50px; /* Adjust padding as needed */
  border: none;
  border-radius: 50px;
  font-size: 25px; /* Button font size */
  margin-top: 20px; /* Adjust margin as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: scale 0.3s ease;
}

.overlay-button:hover {
  background-color: #0ca507; /* Button background color on hover */
  scale: 1.1;
}
